* {
    box-sizing: border-box;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
}

.app {
    --pad: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 234px;
    padding: var(--pad);
}

.app__top {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.app__label {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}




.app__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.app__col {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 234px;   
    height: 168px  
}

.app__controls {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.app__control {
    padding: 0;
}

.toggle {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.toggle__input {
    position:absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.toggle__slider {
    position: relative;
    display: block;
    width: 38px;
    height: 24px;
    border-radius: 14px;
    background-color: #DFE6F0;
    transition: 0.3s ease;
}

.toggle__slider:after {
    content: '';
    position: absolute; 
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-color: #FFF;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.toggle__input:checked + .toggle__slider {
    background-color: #005DFF;
}

.toggle__input:checked + .toggle__slider:after {
    transform: translateX(calc(38px - 4px - 20px));
}

.toggle__input:focus-visible + .toggle__slider {

    outline: 2px solid #005DFF;
    outline-offset: 2px;
}

.field {
    display: flex;
    align-items: center;
    gap: 20px;
}

.field__input {
    font-size: 12px;
    width: 38px;
    height: 24px;
    border-radius: 28px;
    border: 1px solid #000;
    text-align: center;
}

.field__input::-webkit-outer-spin-button,
.field__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.field__input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}

@property --p {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

.progress {
    --size: 100px;
    --stroke: 8px;
    position: relative;
    width: var(--size);
    height: var(--size);
}

.progress__center {
    position: absolute;
    inset: var(--stroke);
    background-color: #FFF;
    border-radius: 50%;
}

.progress__ring {
    --p: 0;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: conic-gradient(#005DFF calc(var(--p) * 1%), #EEF3F6 0);
    transition: --p 300ms ease-in-out;
}

.progress--hidden {
    display: none;
}

.progress--animated .progress__ring {
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


@media (orientation: landscape) {
    .app {
        width: 568px;
        height: 320px;
        --pad: 20px;
    }

    .app__top {
        position: absolute;
        top: var(--pad);
        left: var(--pad);
    }

    .app__body {
        flex-direction: row;
    }

    .app__col {
        width: 200px;
    }

    .toggle__slider {
        width: 44px;
        height: 28px;
    }

    .toggle__slider:after {
        width: 24px;
        height: 24px;
    }

    .toggle__input:checked + .toggle__slider:after {
        transform: translateX(calc(44px - 4px - 24px));
    }

    .field__input {
        font-size: 12px;
        width: 44px;
        height: 28px;
    }

    .progress {
        --size: 120px;
        --stroke: 10px;
    }
}