body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.app {
    padding: 20px;
}
.app__label {
    font-size: 32px;
}

.app__body {
    display: flex;
}

.app__col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.toggle {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.toggle__input {
    position:absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.toggle__slider {
    position: relative;
    display: block;
    width: 44px;
    height: 28px;
    border-radius: 14px;
    background-color: #DFE6F0;
    transition: 0.3s ease;
}

.toggle__slider:after {
    content: '';
    position: absolute; 
    width: 24px;
    height: 24px;
    top: 2px;
    left: 2px;
    background-color: #FFF;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.toggle__input:checked + .toggle__slider {
    background-color: #005DFF;
}

.toggle__input:checked + .toggle__slider:after {
    transform: translateX(calc(44px - 4px - 24px));
}

.togle__input:focus-visible + .toggle__slider {

    outline: 2px solid #005DFF;
    outline-offset: 2px;
}



